<figure>
	<div id="frame">
		<ng-container #preview [ngTemplateOutlet]="props.url ? tpl : progress"></ng-container>
	</div>
	<figcaption>
		<span id="title">{{props.name || ''}}</span>
		<ul id="attributes">
			<li><span>{{props.resolution || ''}}</span></li>
			<li><span>{{props.duration || ''}}</span></li>
			<li><span>{{props.size | filesize}}</span></li>
		</ul>
	</figcaption>
</figure>

<ng-template #tpl>
	<img #image [src]="props.url | safe">
</ng-template>

<ng-template #progress>
	<svg xml:space="preserve" width="100%" height="100%" version="1.1" style="fill-rule:evenodd; clip-rule:evenodd"
		viewBox="0 0 94.23 94.23" xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
			<linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
				<stop offset="0%" stop-color="rgb(244,244,244)" stop-opacity="0" />
				<stop offset="47%" stop-color="rgb(244,244,244)" stop-opacity="0" />
				<stop offset="47%" stop-color="rgb(255,198,24)" />
				<stop offset="53%" stop-color="rgb(255,198,24)" />
				<stop offset="53%" stop-color="rgb(244,244,244)" stop-opacity="0" />
				<stop offset="100%" stop-color="rgb(244,244,244)" stop-opacity="0" />
			</linearGradient>
			<linearGradient id="blue-shadow" x1="0%" y1="100%" x2="100%" y2="0%">
				<stop offset="0%" stop-color="rgb(43,73,151)" stop-opacity="1" />
				<stop offset="80%" stop-color="rgb(153,207,255)" stop-opacity="0.6" />
				<stop offset="100%" stop-color="rgb(153,207,255)" stop-opacity="0" />
			</linearGradient>
			<radialGradient id="shadow" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
				<stop offset="0%" stop-color="rgb(61,61,61)" stop-opacity="1" />
				<stop offset="47%" stop-color="rgb(61,61,61)" stop-opacity="1" />
				<stop offset="51%" stop-color="rgb(61,61,61)" stop-opacity="0" />
				<stop offset="96%" stop-color="rgb(61,61,61)" stop-opacity="0" />
				<stop offset="100%" stop-color="rgb(61,61,61)" stop-opacity="1" />
			</radialGradient>
			<radialGradient id="yellow" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
				<stop offset="0%" stop-color="rgb(153,207,255)" stop-opacity="1" />
				<stop offset="47%" stop-color="rgb(153,207,255)" stop-opacity="1" />
				<stop offset="51%" stop-color="rgb(255,255,255)" stop-opacity="1" />
				<stop offset="90%" stop-color="rgb(80,50,90)" stop-opacity="1" />
				<stop offset="94%" stop-color="rgb(255,198,24)" stop-opacity="1" />
				<stop offset="100%" stop-color="rgb(255,198,24)" stop-opacity="1" />
			</radialGradient>
		</defs>

		<g>
			<path fill='rgb(153,207,255)'
				d="M47.12 0c26.02,0 47.11,21.09 47.11,47.12 0,26.02 -21.09,47.11 -47.11,47.11 -26.03,0 -47.12,-21.09 -47.12,-47.11 0,-26.03 21.09,-47.12 47.12,-47.12zm0 25.13c12.14,0 21.98,9.84 21.98,21.99 0,12.14 -9.84,21.98 -21.98,21.98 -12.15,0 -21.99,-9.84 -21.99,-21.98 0,-12.15 9.84,-21.99 21.99,-21.99z" />
			<path fill='url(#blue-shadow)'
				d="M94.23 47.12c0,26.02 -21.09,47.11 -47.11,47.11l0 -25.13c12.14,0 21.98,-9.84 21.98,-21.98l25.13 0z" />
			<path fill='url(#shadow)'
				d="M47.12 0c26.02,0 47.11,21.09 47.11,47.12 0,26.02 -21.09,47.11 -47.11,47.11 -26.03,0 -47.12,-21.09 -47.12,-47.11 0,-26.03 21.09,-47.12 47.12,-47.12zm0 25.13c12.14,0 21.98,9.84 21.98,21.99 0,12.14 -9.84,21.98 -21.98,21.98 -12.15,0 -21.99,-9.84 -21.99,-21.98 0,-12.15 9.84,-21.99 21.99,-21.99z" />
			<g>
				<circle fill='url(#yellow)' cx="47.12" cy="81.67" r="12.3" />
				<circle fill='url(#grad1)' cx="47.12" cy="81.67" r="12.3" />
				<animateTransform attributeName="transform" type="rotate" additive="sum" from="0 47.12 81.67"
					to="360 47.12 81.67" begin="0s" dur="5.2s" calcMode="linear" repeatCount="indefinite">
				</animateTransform>
			</g>
			<animateTransform attributeName="transform" type="rotate" additive="sum" from="0 47.115 47.115"
				to="360 47.115 47.115" begin="0s" dur="4s" calcMode="linear" repeatCount="indefinite">
			</animateTransform>
		</g>
	</svg>
</ng-template>